- space_title = @conversation.subject.split("Inquiry re: ")[1]
%h2
  Re:
  - space = Space.where(title: space_title).first
  - if space
    = link_to @conversation.subject, space_path(space)
  - else
    = @conversation.subject
#conversation
  - @conversation.messages.each do |message|
    .row
      .medium-4.column
        .panel
          %ul
            %li
              %strong From:
              = link_to message.sender.name, user_path(message.sender)
            %li
              %strong Sent:
              #{time_ago_in_words(message.created_at)} ago
            %li
              %strong Space:
              #{space_title}
      .medium-8.column
        = simple_format(message.body)
        - if message.attachment.url
          .attachment
            = link_to message.attachment_identifier, message.attachment.url
      %hr
  %h4 Your Reply
  = simple_form_for @message do |f|
    .row
      .medium-8.column.large-8
        = f.input :conversation_id, as: :hidden
        = f.input_field :body, as: :text, label: 'Reply'
      .medium-4.column.large-4
        = f.button :submit, 'Send Message', class: "button greenie fullbtn radius"

